html {
    position: relative !important;
    min-height: 100% !important;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



body, footer, nav {
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    background-color: #081b1e !important;
}


#uploadInfo-section {
    display: none;
}

.text-white{
    color:white;
}

.gradient {
    background: #833ab4;
    background: linear-gradient( to right, #833ab4,#fd1d1d,#fcb045 );
}
/* From Uiverse.io by SelfMadeSystem */
.followBackLogo {
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

    

.followBackLogo-primary {
    background: linear-gradient(#1f5afe, #0f4cf5);
    color: white;
    box-shadow: inset 0pt 4pt 3pt -2pt #386fff, 0pt 4pt 5pt -3pt #0009;
    border-bottom: 2pt solid #083acd;
    transition: all 0.5s ease;
}

    .followBackLogo-primary:hover {
        border-bottom: 4pt solid #083acd;
        translate: 0pt -1pt;
    }

    .followBackLogo-primary:active {
        box-shadow: inset 0pt 4pt 3pt -2pt #386fff, 0pt 4pt 5pt -3pt #0000;
        border-bottom: 1pt solid #083acd;
        translate: 0pt 0pt;
    }

    .followBackLogo-txt {
        color:white;
    }

 

.followBackLogo-base {
    background: #386fff;
}

#more-info-link {
    color: #98afc1;
}

#more-info-link:hover {
   color: #4e8cbc;
}

/* Estilo base para nav-link */
.nav-link {
    color: white !important; /* Color del texto */
    transition: color 0.3s ease !important; /* Transición suave para el color */
}

/* Animación de hover para nav-link */
.nav-link:hover {
  color: #f09433  !important; /* Cambiar a un color del gradiente de Instagram */
    }
